<h2>User Id: <%= @order.user_id %></h2>
<h2>User Email: <%= @order.user.email %></h2>

<h2>Sub total: <%= number_to_currency(@order.subtotal) %></h2>
<h2>Tax: <%= number_to_currency(@order.tax) %></h2>
<hr>
<h2>Total: <%= number_to_currency(@order.total) %></h2>
<hr>
<% @order.carted_products.each do |carted_product|%>
  <h3><%= carted_product.product.name %></h3> 
  <h3><%= carted_product.quantity %></h3>
<% end %>