<h1>Store</h1>

<%= link_to "Add a new product", "/products/new" %>

<% @products.each do |product| %>
  <h2><a href="/products/<%= product.id %>"><%= product.name %></a></h2>
  <img src=" <%= product.image %> "</img>
  <h3><%= product.price %></h3>
  <h3><%= product.description %></h3>

<%= link_to "Home", "/" %>
<%= link_to "Edit", "/products/#{product.id}/edit" %>
<%= link_to "Delete", "/products/#{product.id}",
method: :delete, data:{confirm: "Are you sure?"} %>

  <hr>
<% end %>
