
<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-offset-1 col-md-3 col-sm-6 list-view">
      <div class="thumbnail">
        <h2><a href="/products/<%= product.id %>"><%= product.name %></a></h2>
        <%= image_tag product.image, class: "img-responsive" %>
        <h3><%= product.price %></h3>
        <h3><%= product.description %></h3>
        <h3><%= product.sale_notice %></h3>
      </div>
    </div>
    <% end %>
</div>