<h1><%= @product.name %></h1>
<% @product.images.each do |image| %>
<img src=" <%= image.url %> "</img>
<% end %>

<h3><%= @product.description %></h3>
<h3>By: <%= @product.supplier.name %></h3>
<h3><%= @product.sale_notice %></h3>
<h3><%= @product.stock_status %></h3>
<h3>$<%= @product.price %> Price</h3>
<h3>$<%= @product.tax %> Tax <h3>
<h2>$<%= @product.total %> Total </h2>

<%= link_to "Home", "/" %>
<%= link_to "Edit", "/products/#{@product.id}/edit" %>
<%= link_to "Delete", "/products/#{@product.id}",
method: :delete, data:{confirm: "Are you sure?"} %>

<h1>Update your product</h1>

<%= form_tag "/orders", method: :post do %>

  <div>
  <%= label_tag :Quantity %>
  <%= text_field_tag :quantity %>
  </div>


  <%= submit_tag "Buy Now!" %>
<% end %>