<h1><%= @product.name %></h1>
<% @product.images.each do |image| %>
<img src=" <%= image.url %> "</img>
<% end %>

<h3><%= @product.description %></h3>

<h3>Category is: <% @product.categories.each do |id|%>

<h3> <%= id.name %> </h3>
<% end %>

<h3>By: <%= @product.supplier.name %></h3>
<h3><%= @product.sale_notice %></h3>
<h3><%= @product.stock_status %></h3>
<h3>$<%= @product.price %> Price</h3>
<h3>$<%= @product.tax %> Tax <h3>
<h2>$<%= @product.total %> Total </h2>

<%= link_to "Home", "/" %>
<%= link_to "Edit", "/products/#{@product.id}/edit" %>
<%= link_to "Delete", "/products/#{@product.id}",
method: :delete, data:{confirm: "Are you sure?"} %>

<hr>
<h1>Buy It!</h1>

<%= form_tag "/carted_products", method: :post do %>
<div class="form-group">

  <div>
  
  <%= hidden_field_tag :product_id, @product.id %>
  </div>

  <div>
  <%= label_tag :quantity %>
  <%= text_field_tag :quantity %>
  </div>


  <%= submit_tag "Add to cart!" %>
<% end %>
</div>